#skry {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.dbop {
	animation: bop 0.189s infinite;
	animation-delay: 0.759s;
}
@keyframes bop {
	0% { width: 100%; height: 100%; }
	50% { width: 120%; height: 120%; }
	75% { width: 105%; height: 105%; }
	100% {width: 100%; height: 100%; }
}